$primary: var(--primary);
$primary-dark: var(--primary-dark);
$background-main: var(--background-main);
$border-color: var(--border);

$text-grey: #64748b;

$alert-red: #f43f5e;
$alert-red-dark: #dc2626;

$padding: 10px;